
.inicio {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}




.titulo {
    color: white;
    font-size: 45px;
    font-family: Raj-Me;
    /* animation: mover-derecha 2s ease-in; */

}

/* @keyframes mover-derecha {
    0%{
        margin-left: 700px;
    }    
} */

/* QUE SE MUEVAN LOS ELEMENTOS AL HACER SCROLL*/
/* .box__mover {
    transform: translateX(150%);
    transition: transform 1.5s ease;
}

.box__enseñar {
    transform: translateX(0%);
}

.box__mover:nth-of-type(even){
    transform: translateX(-150%);
} */

/*-----------------------------------------------*/



.titulo span {
    color: var(--verde);
}

.inicio_txt {
    color: white;
    font-family: Raj-Me;
    font-size: 20px;
    -webkit-box-shadow: 3px 9px 28px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 9px 28px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 9px 28px 0px rgba(0,0,0,0.75);
    padding: 80px;
    border-radius: var(--bordes);
    /* animation: opacidad 2s ease-in; */
}
/* 
@keyframes opacidad {
    0% {
        color: rgba(255, 255, 255, 0);
        -webkit-box-shadow: 3px 9px 28px 0px rgba(0, 0, 0, 0);
        -moz-box-shadow: 3px 9px 28px 0px rgba(0, 0, 0, 0);
        box-shadow: 3px 9px 28px 0px rgba(0, 0, 0, 0);
}
} */

.boton_txt {
    margin-top: 35px;
    background-color:  var(--etiquetas);
    width: 150px;
    text-align: center;
    padding: 10px;
    border-radius: var(--bordes);
    animation: mover-derecha 2s ease-in;
}

.ico_usu {
    color: var(--verde);
    margin-left: 5px;
}

.boton_txt {
    display: block;
    text-decoration: none;
    color: white;
    font-family: Raj-Me;
    font-size: 20px;
}

.boton_txt:hover {
    background-color: var(--verde);
    color: black;
    transition: 2s;
    -webkit-box-shadow: 3px 9px 28px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 9px 28px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 9px 28px 0px rgba(0,0,0,0.75); 
}

.boton_txt:hover>.ico_usu {
   color: black;
   transition: 2s;
}

.main {
    margin-left: 372px;
}

.sobremi {
    color: var(--verde);
}

.sobremi_txt {
    width: 40%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px;
}

.boton_sobre {
    margin: auto;
    margin-top: 40px;
}